/* подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url(https://db.onlinewebfonts.com/c/2d9f8eba44c6cc97753724bedd5d9f28?family=Soyuz+Grotesk+Bold);
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/8d6084d5773d189ea43177c498f2719f?family=Lena);

/* общие стили */
:root {
    --main-accent-color: #fec009;
    --main-accent-color-hover: #e0a800;
    --secondary-accent-color: #ffd760;
    --secondary-accent-color: #ffc850;
    --gray-text-color: #ccc;
    --dark-gray-text-color: #333333
}

/*  стили для формы регистрации */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* контейнер формы */
.auth-form__container {
    display: flex;
    width: 800px;
    margin: 50px auto;
    border: 1px solid var(--gray-text-color);
    border-radius: 10px;
    overflow: hidden;
    background: white;
}

.auth-form__left-panel,
.auth-form__right-panel {
    flex: 1;
    padding: 30px 30px;
}

/* левая часть формы */
.auth-form__left-panel {
    background-image: url("/assets/images/login_image.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

/* лого формы */
.reg-form__logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 100px;
    color: white;
    display: flex;       
    align-items: center; 
    justify-content: flex-start; 
    font-family: 'Lena';
    font-weight: 500; 
}

.reg-form__logo__img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.reg-form__logo span {
    margin-top: 5px;
}

/* заголовок */
.auth-form__left-panel h2 {
    margin-bottom: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 10px;
}

/* абзац */
.auth-form__left-panel p {
    font-size: 18px;
    color: white;
    font-family: 'Jost', sans-serif;
}

/* нижний абзац */
.auth-form__non-acc {
    color: white;
    margin-top: 130px;
    text-decoration: underline;
    font-family: 'Jost', sans-serif;
    font-size: 15px !important;
}

/* стили левой кнопки */
.auth-form__registration-btn {
    padding: 10px 20px;
    border: 1px solid var(--main-accent-color);
    border-radius: 20px;
    background: none;
    cursor: pointer;
    font-size: 14px;
    width: 200px;
    color: var(--main-accent-color);
    transition: background 0.3s;
    font-family: 'Rubik';
    font-weight: 500;
}

.auth-form__registration-btn:hover {
    background-color: var(--main-accent-color);
    color: black;
}

/* правая панель */
.auth-form__right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}

.auth-form__right-panel h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: "Soyuz Grotesk Bold";
}

/* стили самой формы */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.auth-form__right-panel__form-group {
    position: relative;
    width: 80%;
}

.auth-form__right-panel__form-group input {
    width: 100%;
    padding: 14px 12px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    background: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: var(--dark-gray-text-color);
}

.auth-form__right-panel__form-group label {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    background: white;
    padding: 0 4px;
    color: var(--gray-text-color);
    font-size: 16px;
    pointer-events: none;
    transition: all 0.2s ease;
}

/* анимация "поднятия к рамке" */
.auth-form__right-panel__form-group input:focus + label,
.auth-form__right-panel__form-group input:not(:placeholder-shown) + label {
    top: 0px;
    left: 18px;
    font-size: 13px;
    color: var(--gray-text-color);
}

/* блок с запомнить меня и забыли пароль */
.auth-form__right-panel__bottom-block {
    display: flex;
    align-items: center;  
    justify-content: space-between; 
}

/* Стили для чекбокса и текста Запомнить меня */
.auth-form__right-panel__remember-me {
    display: flex;
    align-items: center; 
    gap: 5px;  
    margin-right: 50px;
}

/* Стиль самого чекбокса */
.auth-form__right-panel__remember-me__checkbox {
    accent-color: var(--main-accent-color);
}

/* Стиль текста Запомнить меня */
.auth-form__right-panel__remember-me span {
    font-size: 13px;
    color: var(--gray-text-color);
    font-weight: 600;
}

/* Стиль ссылки забыли пароль */
.auth-form__right-panel__forgot-password {
    color: var(--main-accent-color);
    font-size: 13px;
}

form button {
    width: 80%;
    padding: 12px;
    background: var(--main-accent-color);
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
    font-family: 'Rubik';
    font-weight: 500;
}

form button:hover {
    background: var(--main-accent-color-hover);
}
