.btn {
    background-color: #D27D60;
    color: white;
}

.btn:hover {
    background-color: #c75d3a;
    color: white;
}


form {
    color: #4A4A4A;
    font-size: 14px;
}

.text {
    color: #7A9F79 !important;
}

input, select, textarea {
    color: #7A9F79 !important;
}

textarea:focus, input:focus {
    color: #7A9F79 !important;
}

input::placeholder {
    color: #7A9F79 !important;
    font-size: 18px;

}

.left-area {
    border-top-left-radius: 15px; /* Левый верхний */
    border-bottom-left-radius: 15px;
    background-color: #7A9F79 !important;
}

/* Простые стили для увеличения формы */
.bigger-form {
    min-height: 70vh; /* Форма занимает 70% высоты экрана */
}

.bigger-form .card {
   border-radius: 15px; /* Скругленные углы */
}

    .bigger-form .left-area {
       
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .bigger-form .card-body {
        padding: 3rem; /* Больше внутреннего пространства */
    }

    .bigger-form .form-control {
        padding: 12px; /* Большие поля ввода */
        margin-bottom: 20px;
    }

    .bigger-form .btn {
        padding: 12px; /* Большая кнопка */
        width: 100%;
    }

    .btn:active{
        background-color: #c75d3a !important;
    }

.left-area {
    background: #f8f9fa;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px !important;
}

.welcome-title {
    color: #FAF3E0;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.welcome-text {
    color: #FAF3E0;
    line-height: 1.5;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 600;
}

.signup-prompt {
    margin-top: 20px;
    font-size: 14px;
    color: #FAF3E0;
}

.signup-prompt a {
    color: #FAF3E0;
    margin-left: 5px;
}