/* стили страниц входа и регистрации */

.btn {
    background-color: #d27d60;
    color: white;
}

.btn:hover {
    background-color: #c75d3a;
    color: white;
}

form {
    color: #4a4a4a;
    font-size: 14px;
}

.text {
    color: #7a9f79 !important;
}

input,
select,
textarea {
    color: #7a9f79 !important;
}

textarea:focus,
input:focus {
    color: #7a9f79 !important;
}

input::placeholder {
    color: #7a9f79 !important;
    font-size: 18px;
}

.left-area {
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
    background-color: #7a9f79 !important;
}

.bigger-form {
    min-height: 70vh; 
}

.bigger-form .card {
    border-radius: 15px;
}

.bigger-form .left-area {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.bigger-form .card-body {
    padding: 3rem; 
}

.bigger-form .form-control {
    padding: 12px; 
    margin-bottom: 20px;
}

.bigger-form .btn {
    padding: 12px;
    width: 100%;
}

.btn:active {
    background-color: #c75d3a !important;
}

.left-area {
    background: #f8f9fa;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px !important;
}

.welcome-title {
    color: #faf3e0;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.welcome-text {
    color: #faf3e0;
    line-height: 1.5;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 600;
}

.signup-prompt {
    margin-top: 20px;
    font-size: 14px;
    color: #faf3e0;
}

.signup-prompt a {
    color: #faf3e0;
    margin-left: 5px;
}
