/* подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@font-face {
    font-family: Lena;
    src: url(/assets/fonts/Lena.ttf);
}

@font-face {
    font-family: Soyuz;
    src: url(/assets/fonts/Soyuz\ Grotesk\ Bold.otf);
}

/* общие стили */
:root {
    --main-accent-color: #FEC009;
    --main-accent-color-hover: #E0A800 ;
    --secondary-accent-color: #FFD760;
    --secondary-accent-color: #FFC850;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* контейнер для шапки */
.header__container {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    margin-top: 30px;
}

/* стили для поисковой строки шапки */
.search-form {
    display: flex;
    border: 1px solid;
    padding: 5px 7px;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    color: gray !important;
    width: 60%;
}

.search-form__field {
    border: none;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    color: gray !important;
    width: 100%;
    margin: 0 10px;
}

.search-form__field::placeholder {
    color: gray !important;
}

.search-form__field:focus {
    color: gray !important;
}

.search-form__btn {
    border: none;
    background-color: transparent;
}

.search-form__img {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

/* базовый стиль для кнопок */
.basic-btn {
    background-color: var(--main-accent-color);
    color: black; 
    border: none;
    padding: 15px 20px;
    border-radius: 9999px; /* делает кнопку полностью круглой по краям */
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.basic-btn:hover {
    background-color: var(--main-accent-color-hover);
}

.basic-btn__img {
    width: 20px;
    height: 20px;
}

/* стили для лого */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;
    font-size: 38px;
    font-family: Lena;
    font-weight: 500; 
}

.logo__img{
    width: 60px;
    height: 60px;
}

.logo__text{
    color: var(--main-accent-color);
    font-weight: bold;
    margin-left: 10px;
}