/* стили профиля */

.btn {
    background-color: #d27d60;
    color: white;
}

.btn:hover {
    background-color: #c06a4a;
    color: white;
}
form {
    color: #4a4a4a;
    font-size: 14px;
}

.image1 {
    justify-content: center;
    align-items: center;
}

.text {
    color: #7a9f79 !important;
}

input,
select,
textarea {
    color: #7a9f79 !important;
}

textarea:focus,
input:focus {
    color: #7a9f79 !important;
}

input::placeholder {
    color: #7a9f79 !important;
    font-size: 18px;
}
